*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(Ubuntu/Ubuntu-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UbuntuBold';
    src: url(Ubuntu/Ubuntu-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1,h3{
    font-family: 'UbuntuBold';
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin-top: 1em;
}
.quotes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 23vh;
}
.about{
    margin-bottom: 2em;
}
#content{
    min-width: 65vw;
    max-height: 2em;
    overflow: auto;
    background-color: rgb(83, 176, 160);
    padding: 3%;
    border: 2.5px black solid;
    border-radius: 20px;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Ubuntu';
    text-align: center;
    margin-bottom: 0.2em;
}
#fetch{
    border-radius: 10px;
    font-size: larger;
    width: 12em;
    height: 3em;
    background-color: rgb(235, 181, 231);
    font-family: 'UbuntuBold';
    transition: all ease 0.5s 0s;
}
button:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
